.body2{
 
    
    background-image: linear-gradient(#283b54,#91dfd9,#020024);
    background-repeat: no-repeat;
    background-size: cover;

}


.login-container{
    margin-top: 5%;
    margin-bottom: 15%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(13, 3, 34);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background:#FFF;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-image: url("chartsup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color:rgb(13, 3, 34);;
    background-color: rgb(168, 218, 200);
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: rgb(168, 218, 200);
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color:  rgb(168, 218, 200);;
    font-weight: 600;
    text-decoration: none;
}
/*startexam page*/

.sect{
    background-image: url("sect1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;



}
.sect2{

    background-image: linear-gradient(#283b54,#020024);
 


}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  .contmove {
      width:100%;
      height: 500px;

  
    background-image: url("sect1.jpg");
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 10s linear infinite alternate;
  }


.frontend{
float: right;
   padding-top: 50px;
    color: #FFF;
    font-weight: bolder;
    margin-right: 90px;

}
.contmove h1{
    margin-right: 40px;
}
.btn2{
     margin-top: 50px;
     margin-right:150px;
     background-color: transperant;
     color: #FFF;
     border-color: #FFF;
}
.btn2:hover{
    background-color: #283b54 ;
    color: #FFF;
    border-style: none;
}


/****sectionspage*/
.body3{
    margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #749e9b, #111820, #c9e8f3, #49746a);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
.cont2{
    margin-top: 130px;
}
@keyframes move {
    from { 
        left:0px;
        -webkit-transform: translateX(-166px)
    }
}
.move{
  position: absolute;
  top: 80px;
  left: 900px;
  width: 166px;
  height: 70px;
  z-index: 7;
  animation: move 3s linear;
}


@keyframes move2 {
    from { 
        left:0px;
        -webkit-transform: translateX(-166px)
    }
}
.move2{
  position: absolute;
  top: 80px;
  left: 500px;
  width: 166px;
  height: 70px;
  z-index: 5;
  animation: move2 3s linear;
}

@keyframes move1 {
    from { 
        left:0px;
        -webkit-transform: translateX(-166px)
    }
}
.move1{
  position: absolute;
  top: 80px;
  left: 100px;
  width: 150px;
  height: 70px;
  z-index: 3;
  animation: move1 3s linear;
}


/*htmlexam*/

#accordion{
    width:700px;
    margin-left: 200px;
}
.acco{
    color:  #0d075e;;
    background-color:white ;
}
.accod{
    color: white;
    background-image: linear-gradient(#2c3d52,#749e9b);
  /*  background-color:#2c3d52 ;*/


}

.newaccordion{
    margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #749e9b, #111820, #c9e8f3, #49746a);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;

}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#submitres{
    margin-top:30px;
    width:150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color:white;
    background-color: #2c3d52;
    font-weight: bolder;
    font-size: 20px;;
}
#submitres:hover{
    border: none;
}
/*resultpage*/
.btnresult{
    float: right;
}
.result{
    margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #749e9b, #2c3d52, #c9e8f3, #49746a);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;


}
